%rss
  %channel
    %title
    %link
    %description
    - @statuses.each do |status|
      %item
        %guid =status.trailname =status.lastupdate
        %media:thumbnail
        %title= status.trailname
        %description= status.statusstring
        %pubdate= status.lastupdate

