<script>
var rpx_app_name = <%= "'" + ENV['RPX_APP_NAME'] + "'" %> ;
</script>

<%= javascript_include_tag "rpx" %>

Sign in with one of the following accounts to get registered. 
<div id="janrainEngageEmbed"></div>
